.leaflet-control-container {
  position: absolute;
  right: 56px;
  bottom: 90px;
}
.leaflet-bottom.leaflet-right .leaflet-control.leaflet-control-attribution,
.leaflet-routing-container {
  display: none;
}
